<section class="vh-90 d-flex justify-content-center align-items-center bgSecondary-color">

  <div class="text-white text-center mt-3 w-100">
    <h1 class="text-uppercase">Section Component</h1>

    <div class="star d-flex justify-content-center align-items-center mt-3">
      <div class="line"></div>
      <i class="fa-solid fa-star mx-2"></i>
      <div class="line"></div>
    </div>

    <form action="" class="w-50 mx-auto text-start">
      <label for="userName" class="textMain-color my-2">userName:</label>
      <input type="text" placeholder="userName" name="userName" id="userName" class="form-control shadow-none demo">
    </form>
    <form action="" class="w-50 mx-auto text-start">
      <label for="userName" class="textMain-color my-2">userAge:</label>
      <input type="number" placeholder="userage" name="userage" id="userage" class="form-control shadow-none demo">
    </form>
    <form action="" class="w-50 mx-auto text-start">
      <label for="userName" class="textMain-color my-2">userEmail:</label>
      <input type="email" placeholder="userEmail" name="userEmail" id="userEmail" class="form-control shadow-none demo">
    </form>
    <form action="" class="w-50 mx-auto text-start">
      <label for="userName" class="textMain-color my-2">userPassword:</label>
      <input type="password" placeholder="userPassword" name="userPassword" id="userPassword" class="form-control shadow-none demo">
    </form>
    
  </div>

</section>
