<section class="py-5 d-flex justify-content-center align-items-center bgSecondary-color">
  <div class="text-center text-white w-100">
    <h1 class="text-uppercase">portfolio component</h1>

    <div class="star d-flex justify-content-center align-items-center mt-3">
      <div class="line"></div>
      <i class="fa-solid fa-star mx-2"></i>
      <div class="line"></div>
    </div>

    <br><br>

    <div class="container">
      <div class="row g-3">
        <div class="col-lg-4 col-md-6">
          <figure>
            <img src="WhatsApp Image 2025-07-29 at 01.20.44_aaf9dcbc.jpg" alt="" class="w-100">
          </figure>
        </div>
        <div class="col-lg-4 col-md-6">
          <figure>
            <img src="2.jpg" alt="" class="w-100">
          </figure>
        </div>
        <div class="col-lg-4 col-md-6">
          <figure>
            <img src="3.jpg" alt="" class="w-100">
          </figure>
        </div>
        <div class="col-lg-4 col-md-6">
          <figure>
            <img src="WhatsApp Image 2025-07-29 at 01.20.44_aaf9dcbc.jpg" alt="" class="w-100">
          </figure>
        </div>
        <div class="col-lg-4 col-md-6">
          <figure>
            <img src="2.jpg" alt="" class="w-100">
          </figure>
        </div>
        <div class="col-lg-4 col-md-6">
          <figure>
            <img src="3.jpg" alt="" class="w-100">
          </figure>
        </div>
      </div>
    </div>

  </div>
</section>
