<section class="bgSecondary-color vh-90 d-flex flex-column justify-content-center align-items-center">

  <div class="text-white text-center mt-3">
    <h1 class="text-uppercase">About Component</h1>

    <div class="star d-flex justify-content-center align-items-center mt-3">
      <div class="line"></div>
      <i class="fa-solid fa-star mx-2"></i>
      <div class="line"></div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row g-4 text-white w-75 mx-auto fw-bold mt-3">
      <div class="col-md-6">
        <p>
          Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
        </p>
      </div>
      <div class="col-md-6">
        <p>
          Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
        </p>
      </div>
    </div>
  </div>

</section>
