<footer class="bgMain-color text-white py-5">
  <div class="container">
    <div class="row g-3 text-center">
      <div class="col-md-4">
        <h3>Location</h3>
        <p>2215 john daniel drive</p>
        <p>Clark, MO 65243</p>
      </div>
      <div class="col-md-4">
        <h3>AROUND THE WEB</h3>
        <div class="d-flex gap-2 justify-content-center align-items-center">
          <i
            class="fa-brands fa-facebook demo d-flex justify-content-center align-items-center"
          ></i>
          <i
            class="fa-brands fa-twitter demo d-flex justify-content-center align-items-center"
          ></i>
          <i
            class="fa-brands fa-linkedin demo d-flex justify-content-center align-items-center"
          ></i>
          <i
            class="fa-brands fa-globe demo d-flex justify-content-center align-items-center"
          ></i>
        </div>
      </div>
      <div class="col-md-4">
        <h3>ABOUT FREELANCER</h3>
        <p>
          Freelance is a free to use, licensed Bootstrap theme created by Route
        </p>
      </div>
    </div>
  </div>
</footer>
  <div class="container-fluid d-flex justify-content-center align-items-center bg-dark">
    <p class="text-white mt-2">Copyright &copy; 2025 My Website. All rights reserved.</p>
  </div>
