<section class="bgSecondary-color d-flex flex-column justify-content-center align-items-center vh-100">
  <img src="public\avataaars.svg" width="300px" alt="">

  <div class="text-white text-center mt-3">
    <h1 class="text-uppercase">start framework</h1>

    <div class="star d-flex justify-content-center align-items-center mt-3">
      <div class="line"></div>
      <i class="fa-solid fa-star mx-2"></i>
      <div class="line"></div>
    </div>
  </div>
  <span class="text-white text-capitalize fw-bold py-2">graphic artist - web designer - illustractor</span>
</section>



